# include .coveragerc
include AUTHORS
include Changelog
include ez_setup.py
include LICENCE
include README.md
# include tox.ini
# recursive-include doc *
# recursive-include scripts *
# recursive-include tests *
